{% load static %} {% load django_browser_reload %}
{% django_browser_reload_script %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShortyLink {% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'shortener/css/variables.css'}">
    <link rel="stylesheet" href="{% static 'shortener/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
      integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    {% block head %}{% endblock head %}
  </head>
  <body>
    <header>
      <a href="/home" class="logo"> Shorty Link</a>
      <nav class="navbar-container">
        <button class="menu-toggle">
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="menu-overlay"></div>
        <ul class="navbar">
          <li><a href="#">Features</a></li>
          <li><a href="#">How it works</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
        <div class="navbar-auth">
          <a href="#" class="navbar-login">Log in</a>
          <a href="#" class="navbar-register">Get started</a>
        </div>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <p>&copy; 2026 Shorty Link · Built with Django</p>
    </footer>

    <script src="{% static 'shortener/js/navbar.js' %}"></script>
  </body>
</html>
