# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask instance folder
instance/

# Environment variables
.env
.venv/
venv/
ENV/
env/

# SQLite database
*.db

# Migrations
migrations/

# Pytest cache
.pytest_cache/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Ignore compiled assets if any
*.pyc
*.pyo
*.pyd

super_user.txt