DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=True
HOSTS=localhost

# PREFIX FOR URL SHORTENER SERVICE
PREFIX=localhost:8000

# DATABASE CONFIG
DB_NAME=shorty_db
DB_USER=shorty_admin
DB_PASSWORD=shorty_pass123
DB_HOST=localhost
DB_PORT=5432

# FRONTEND URLs
FRONTEND_LOGIN_URL=http://localhost:5173/login
FRONTEND_REGISTER_URL=http://localhost:5173/register
