annotated-types==0.8.0
asgiref==3.9.1
click==8.5.0
Django==6.1
django-cors-headers==4.9.0
django-ninja==1.7.0
dnspython==2.8.0
email-validator==2.3.0
granian==2.8.4
idna==3.19
packaging==25.0
psycopg2-binary==2.9.10
pybase62==1.0.0
pydantic==2.13.5
pydantic_core==2.46.5
PyJWT==2.14.0
python-dotenv==1.1.1
soupsieve==2.8
sqlparse==0.5.3
typing-inspection==0.4.4
typing_extensions==4.15.0
tzdata==2025.2
whitenoise==6.9.0
