@import url("./variables.css");

html,
body {
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark);
  color: var(--color-text);
  padding: 0rem 1rem 0 1rem;
}

main {
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 1rem 0rem 1.5rem 0;
}

.navbar-container {
  flex-direction: column;

}

.menu-toggle {
  position: relative;
  z-index: 1001;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.logo {
  font-size: 1.75rem;
  font-weight: 900;
  text-decoration: none;
  color: var(--color-primary);
}

.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1000;
  width: 50%;
  height: 100vh;
  margin: 0;
  padding: 6rem 2rem;
  gap: 1.5rem;
  list-style: none;
  background-color: var(--color-text);

  transition: right 0.5s ease;
}

.navbar.active {
  right: 0;
}

.navbar li a {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--color-text-dark);
}

.navbar li a:hover {
  color: var(--color-hover);
  transition: all 200ms;

}

.navbar-auth {
  position: fixed;
  right: -100%;
  bottom: 2rem;
  width: 50%;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  transition: right 0.3 ease;
}

.navbar-login,
.navbar-register {
  padding: 10px;
  width: auto;
  text-align: center;
  text-decoration: none;
  color: var(--color-dark);
  font-size: 18px;
  font-weight: bold;

}

.navbar-auth.active {
  right: 0;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: var(--color-overlay);

  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.menu-overlay.active {
  opacity: 1;
  visibility: visible;
}

.fa-bars {
  color: var(--color-text);
}

.fa-bars:hover,
.fa-x:hover {
  color: var(--coolr-text);
  transition: all 200ms;
  scale: 110%;

}

footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  color: var(--color-text-muted)
}

@media (min-width: 768px) {

  header {
    display: flex;
    align-items: center;
  }

  .menu-toggle,
  .menu-overlay {
    display: none;
  }

  .navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    flex: 1;
    margin-left: 3rem;
    justify-content: space-between;
  }

  .navbar li a {
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--color-text);
  }

  .navbar,
  .navbar-auth {
    position: static;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 0;
    background: none;
    transition: none;
  }

  .navbar-login {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1.1rem;
    background-color: none;
    color: var(--color-text);
    text-decoration: none;
    border: 2px solid var(--color-surface);
    border-radius: 0.5rem;
    font-size: 0.95rem;
    font-weight: 700;

    transition: background-color 200ms ease;
  }

  .navbar-login:hover {
    background-color: var(--color-overlay);
    border: 2px solid transparent;
  }

  .navbar-login:active {
    background-color: var(--color-overlay);
    border: 2px solid white;
  }

  .navbar-register {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1.1rem;
    background-color: var(--color-surface);
    color: var(--color-text-dark);
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 0.95rem;
    font-weight: 700;

    transition: background-color 200ms ease;
  }

  .navbar-register:hover {
    background-color: var(--color-secondary);
  }
}